* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #603B2A;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-section {
  min-width: 223px;
}