* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f06d26;
  color: #fff;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-section {
  min-width: 223px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f06d26;
  color: #fff;
  text-align: center;
}

#menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  padding: 10px;
  margin: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-name {
  background-color: #f06d26;
  width: fit-content;
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
}

/* pop-up */

#pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 30%;
  padding: 10px;
  height: 70vh;
  background-color: orange;
  overflow: hidden;
  overflow-y: scroll;
  border: 5px solid #000;
  border-radius: 15px;
}

#pop-up::-webkit-scrollbar {
  width: 1em;
}

#pop-up::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#pop-up::-webkit-scrollbar-thumb {
  background-color: rgb(122, 93, 93);
  outline: 1px solid slategrey;
  border-radius: 10px;
}

#pop-up-image {
  text-align: center;
}

img {
  width: 350px;
  margin: auto;
  border-radius: 60px;
  padding: 5px;
  display: block;
}

#add-comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

input {
  flex: 1;
  padding: 5px;
  font-weight: 700;
  width: 370px;
  height: 300px;
}

.add-comment {
  width: 80px;
}

.show-comment {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  overflow: hidden;
  overflow-y: scroll;
  height: 250px;
}

.show-comment::-webkit-scrollbar {
  width: 1em;
}

.show-comment::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.show-comment::-webkit-scrollbar-thumb {
  background-color: rgb(122, 93, 93);
  outline: 1px solid slategrey;
  border-radius: 30px;
}

.show-comment > li {
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #000;
}

/* Define a class for the blur overlay */
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  z-index: 1000; /* Ensure it's above other content */
  display: none; /* Initially hidden */
}
